html {
    background-color: #e3e3e3;
}
body {
background-color: #fff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 40px;
color: #242424
border-top: 10px solid #242424; 
}

h1 {
font-size: 3em;
margin: 0;
}

p {
line-height: 1.4em;
}

#blog {
border-top: 1px dotted #ccc;
}

.blog-post {
border-bottom: 1px dotted #ccc;
display: flex;
justify-content: space-between;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.main,
.sidebar{
    border: 3px solid black;
    padding: 15px;
    background-color: #fff;
}
.main {
    width: 60%;
    height: 150vh;
  }
  
  .sidebar {
    width: 25%;
    height: 25vh;
  }
  
  body {
    background-color: #ccc;
    font-family: sans-serif;
    padding: 10px;
  }
  .main {
    width: 60%;
    height: 150vh;
  }
  
  .sidebar {
    width: 25%;
    height: 25vh;
  }
  
  body {
    background-color: #ccc;
    font-family: sans-serif;
    padding: 10px;
  }
  section {
    background: #ccc;
    display: flex;
  }
  article { 
    background: #999;
    padding: 20px;
    margin: 20px;
  }

  .card {
    background: #121212;
    border-radius: 10px;
    padding: 20px;
  }
  
  .card {
    display: inline-block;
  }

  #cl {
    background: red;
    position: sticky;
    top: 0;
  }

@media (max-width: 400px) {
  #cl {
    background: red;
  }
}